* {
  margin: 0;
}

@keyframes animation {
  from {
    background-color: white;
  }
  to {
    background-color: #fdfdfd77;
  }
}

@media (min-width: 800px) {
  @keyframes blinkCursor {
    from {
      border-right-color: rgba(25, 25, 25, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 800px;
    }
  }

}

@keyframes animation-item {
  from {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  to {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
  }
}